.footer__copyright{
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: start;
  color: #FFFFFF;
  margin: 0;
  max-width: 186px;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    margin: 48px 0 0 0;
  }
}
